body {
  &.theme-dark {
    --body-background: var(--color-ADQMBlack);
    --text-default-color: var(--color-grayUsual);
    --text-green-color: var(--color-greenSaturated);
    --text-title-color: var(--color-offWhite);
    --scrollbar-thumb-color: rgba(127, 130, 133, 0.20);
    --scrollbar-track-color: transparent;
  }

  &.theme-light {
    --body-background: var(--color-colourful);
    --text-default-color: var(--color-ADCM);
    --text-green-color: var(--color-greenLogo);
    --text-title-color: var(--color-dark1);
    --scrollbar-thumb-color: rgba(127, 130, 133, 0.20);
    --scrollbar-track-color: transparent;
  }
}

body {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background: var(--body-background);
  color: var(--text-default-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 500;
}

.text-link {
  transition: color 250ms;
  color: var(--color-blue);

  &:hover {
    color: var(--text-green-color) !important;
  }
}

.scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  top: 20px;
}

.scroll::-webkit-scrollbar-corner {
  display: none;
}

.scroll::-webkit-scrollbar-track {
  background: none;
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}
