:root {
  --color-ADB: #83B23E;
  --color-ADCM: #73858F;
  --color-ADH: #05A5FF;
  --color-ADHdark: #14161E;
  --color-ADHnew: #0F1117;
  --color-ADPG: #5275F0;
  --color-ADPS: #19BECF;
  --color-ADQM: #FDB404;
  --color-ADQMblack: #030406;
  --color-ADS: #7A3EFA;

  --color-black01: #010101;
  --color-black12: #121212;
  --color-black16: #161616;
  --color-black18: #181619;
  --color-black1B: #1B1B1B;
  --color-black20: #201E22;
  --color-black21: #212121;
  --color-black21-90: color-mix(in srgb, var(--color-black21) 90%, transparent);
  --color-black28: #282828;
  --color-black29: #292A2D;
  --color-black2d: #2D2D2D;
  --color-blackBG: #110F12;
  --color-blackBGDev: #100E1B;
  --color-blackDev: #1A1924;
  --color-blackPure: #000000;
  --color-blackPure-90: color-mix(in srgb, var(--color-blackPure) 90%, transparent);
  --color-blackRed: #261F1F;
  --color-blackRedLighter: #2D2324;
  --color-blue: #1997E8;
  --color-blue-15: color-mix(in srgb, var(--color-blue) 15%, transparent);
  --color-blue-50: color-mix(in srgb, var(--color-blue) 50%, transparent);

  --color-card1: #2D3239;
  --color-card2: #2D2D35;
  --color-card3: #20212A;
  --color-clickhouse: #FFCC03;
  --color-colourful: #E5E8F6;
  --color-colourful-60: color-mix(in srgb, var(--color-colourful) 60%, transparent);
  --color-colourful-70: color-mix(in srgb, var(--color-colourful) 70%, transparent);
  --color-colourful25: #F6F7FC;
  --color-colourful50: #F1F3F9;
  --color-colourful60: #EBEEF9;

  --color-dark1: #353E47;
  --color-dark1-30: color-mix(in srgb, var(--color-dark1) 30%, transparent);
  --color-dark1-50: color-mix(in srgb, var(--color-dark1) 50%, transparent);
  --color-darkDisabled: #3A3C3F;

  --color-eggshell: #FDF87F;

  --color-grayDarker: #707179;
  --color-grayDisabled: #64656D;
  --color-grayError: #7C798D;
  --color-grayLighter: #C4C4C4;
  --color-grayReadingOnly: #545E68;
  --color-grayUsual: #989AA8;
  --color-greenDark: #0D604E;
  --color-greenDarkDark: #17362F;
  --color-greenGray: #527167;
  --color-greenLighter: #00C787;
  --color-greenLogo: #00A872;
  --color-greenLogoLighter: #01B489;
  --color-greenSaturated: #00D2A0;
  --color-greenSaturated-15: color-mix(in srgb, var(--color-greenSaturated) 15%, transparent);
  --color-greenSaturated-30: color-mix(in srgb, var(--color-greenSaturated) 30%, transparent);

  --color-JSONblue: #4EA6E5;
  --color-JSONgreen: #54D29D;
  --color-JSONpurple: #BA28FF;
  --color-JSONpurpleLight: #DD95FF;

  --color-lightStroke: #BDC1E3;
  --color-lightStrokeDark: #9EA4D4;
  --color-lightStrokeLighter: #D9DEF3;

  --color-mint: #66E4C6;
  --color-mintDarker: #02C295;
  --color-mintLight: #CCEBED;

  --color-newDark: #27262B;
  --color-newDark50: #232323;
  --color-newDark-30: color-mix(in srgb, var(--color-newDark) 30%, transparent);
  --color-newDark-50: color-mix(in srgb, var(--color-newDark) 50%, transparent);
  --color-newDarkLighter: #323239;
  --color-newDarkLighter-30: color-mix(in srgb, var(--color-newDarkLighter) 30%, transparent);
  --color-newDarkRed: #373030;
  --color-newLight: #2F3136;
  --color-newLight-30: color-mix(in srgb, var(--color-newLight) 30%, transparent);
  --color-newLight-50: color-mix(in srgb, var(--color-newLight) 50%, transparent);

  --color-offWhite: #FCFCFD;
  --color-offWhiteAdded: #CFCFD7;
  --color-offWhiteDark: #EDEEF0;
  --color-offWhiteRed: #FDFCFC;
  --color-offWhiteYellow: #FFFBEE;
  --color-orange: #FF8A00;

  --color-plate: #7F8285;
  --color-plate-10: color-mix(in srgb, var(--color-plate) 10%, transparent);
  --color-plate-20: color-mix(in srgb, var(--color-plate) 20%, transparent);
  --color-plateLight: #E3EAEE;
  --color-plateLight-30: color-mix(in srgb, var(--color-plateLight) 30%, transparent);
  --color-plateLight-50: color-mix(in srgb, var(--color-plateLight) 50%, transparent);
  --color-plateLight-70: color-mix(in srgb, var(--color-plateLight) 70%, transparent);
  --color-plateLight-95: color-mix(in srgb, var(--color-plateLight) 95%, transparent);
  --color-plateLight50: #EEF2F5;
  --color-popupLight: #CEDBE2;
  --color-popupLightDarker: #A2AEB4;
  --color-purple: #AB24EB;
  --color-purpleDark: #6F4994;
  --color-purpleLight: #D1ADFB;

  --color-red: #F26161;
  --color-red-15: color-mix(in srgb, var(--color-red) 15%, transparent);
  --color-red-20: color-mix(in srgb, var(--color-red) 20%, transparent);
  --color-red-40: color-mix(in srgb, var(--color-red) 40%, transparent);
  --color-red-50: color-mix(in srgb, var(--color-red) 50%, transparent);
  --color-red-80: color-mix(in srgb, var(--color-red) 80%, transparent);
  --color-redCold: #C64A6F;
  --color-redCold-15: color-mix(in srgb, var(--color-redCold) 15%, transparent);
  --color-redCold-20: color-mix(in srgb, var(--color-redCold) 20%, transparent);
  --color-redDarker: #F64646;

  --color-silver: #C3C4CF;
  --color-silverIsh: #D7DBEA;
  --color-spark: #E26A1A;

  --color-teal: #0CACAC;
  --color-turquoise: #24F3F3;

  --color-whitePure: #FFFFFF;
  --color-whitePure-10: color-mix(in srgb, var(--color-whitePure) 10%, transparent);
  --color-whitePure-20: color-mix(in srgb, var(--color-whitePure) 20%, transparent);
  --color-whitePure-30: color-mix(in srgb, var(--color-whitePure) 30%, transparent);
  --color-whitePure-50: color-mix(in srgb, var(--color-whitePure) 50%, transparent);
  --color-whitePure-90: color-mix(in srgb, var(--color-whitePure) 90%, transparent);
  --color-whiteRed: #F8E3E7;
  --color-whiteYellow: #FAF2D9;

  --color-yellow: #F0B542;
  --color-yellow-20: color-mix(in srgb, var(--color-yellow) 20%, transparent);
  --color-yellowWarm: #F79B40;
  --color-yellowWarm-20: color-mix(in srgb, var(--color-yellowWarm) 20%, transparent);


  /** SIZES */
  --size-section-margin: 40px;
  --size-formField-margin: 28px;
  --z-index-spinner: 10;
  --z-index-dialog: 100;
  --z-index-popover: calc(var(--z-index-dialog) + 1);
  --z-index-tooltip: var(--z-index-popover);
  --z-index-notifications: var(--z-index-popover);
}


/**
 *  --%prefix%-%name%-%advanced%
 *  --color-red-80  ( prefix = 'color', name = 'red', 80 - 80% of alpha)
 */
