.DS_Store
*.iml
*.ipr
*.iws
*.orig
*.rej
**/.keep
*.sdf
*.suo
*.vcxproj.user
*.pyc
.idea
.svn
.classpath
.project
.settings
*.patch
target
build
local-repo
**/interpreter.json
dependency-reduced-pom.xml
logs
.vscode
*.xml.versionsBackup

# Filesystem contract test options and credentials
auth-keys.xml
azure-auth-keys.xml

# External tool builders
*/.externalToolBuilders
*/maven-eclipse.xml
