name: PR and master push checks

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    strategy:
      matrix:
        hdfs-version: [ 3.2, 3.3 ]
    runs-on: ubuntu-latest
    name: Build with HDFS ${{ matrix.hdfs-version }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean install -Pdist,web-ui,hadoop-${{ matrix.hdfs-version }} -DskipTests

      - name: Run tests
        # TODO unignore smart-integration module when ADH-4721 will be merged
        run: mvn test -pl '!smart-integration' -am -Dmaven.test.redirectTestOutputToFile=false -Phadoop-${{ matrix.hdfs-version }}
