:global {
  body.theme-dark {
    --mainLayout-background: var(--color-ADQMblack);
    --mainLayout-body-background: var(--color-ADHnew);
  }

  body.theme-light {
    --mainLayout-background: var(--color-colourful);
    --mainLayout-body-background: var(--color-colourful25);
  }
}

.mainLayout {
  display: grid;
  grid-template-columns: 240px auto;
  min-height: 100vh;

  background: var(--mainLayout-background);

  &__body {
    background: var(--mainLayout-body-background);
  }
}
